* {
  font-family: "JetBrains Mono";
}

h2 {
  margin-bottom: 4px;
  span { 
    color: #b90101;
    font-size: 0.85em;
  }
}

/* Radio button - modern selectors */
table {
  border-collapse: collapse;
  td {
    border: 1px solid black;
    position: relative;
  }
  label {
    cursor: pointer;
    padding: 8px 12px;
    display: block;
  }
  input[type="radio"], input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }
  td:has(input[type="radio"]:checked), 
  td:has(input[type="checkbox"]:checked) {
    background: #b9d9f3;
  }
}

input[type=submit] {
  display: block;
  background-color: black;
  color: white;
  padding: 0.5rem 1.5rem;
  font-size: 1.5em; 
  border-radius: 4px;
  margin-top: 1rem;
  cursor: pointer;
  transition: background-color 0.1s;
  &:hover{
    background-color: gray;
  }
}