@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
  --color-primary-darkest: #0a0e1a;
  --color-primary-muted: #21387f;
  --color-primary: #3161f1;
  --color-primary-lighter: #c4d1f9;
  --color-primary-overlay: #3161f172;
  --color-primary-focus-soft: #2549b3;
  --color-primary-focus: #5d82f2;
  --color-white: #f4f6fa;
  --color-accent: #dab541;
  --color-accent-light: #f9d568;
  
  background-color: var(--color-primary-darkest);
  color: var(--color-white);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

body{
  margin: 0;
}

main {
  padding: 2rem;
  max-width: 1024px;
  margin-inline: auto;
}