@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
  background-color: #0a0e1a;
  color: #f4f6fa;
  font-family: 'Inter', Arial, Helvetica, sans-serif;

  --color-primary-muted: #21387f;
  --color-white: #f4f6fa;
}

a {
  color: inherit;
  text-decoration: none;
}

body{
  margin: 0;
}

header{
  background-color: var(--color-primary-muted);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;  

  img { height: 3rem; }

  nav {
    display: flex;
    align-items: center;
    gap: 4px;

    a{
      cursor: pointer;
      transition: font-weight 0.1s;
      position: relative;

      &:not(:has(img)){
        margin: 1rem;
        padding: 3px;
        font-size: 1.15rem;
        &::after{
          content: '';
          width: 0%;
          height: 2px;
          background-color: var(--color-white);
          display: block;
          position: absolute;
          transform: translateX(-3px);
          transition: width 0.1s;
        }

        &:hover{
          font-weight: 700;
          &::after { width: 100%; }
        }
      }
    }
  }
}