#onboarding{
  width: 50dvw;
  margin-top: 7rem;
  margin-inline: auto;
  background-color: #21387f;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;

  img{ height: 5rem; }

  #gradient{
    width: 100%;
    height: 5rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    background: linear-gradient(45deg, #d55e23ff, #f8d31aff);
  }

  a{ text-decoration: underline; }
  a:hover { color: #bbdfffff; }

  form {
    margin-block: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    label{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      span { width: 6rem; text-align: start; }
      input{ font-family: inherit; font-size: 1rem; }
    }

    input[type=submit]{
      border: none;
      background-color: var(--color-primary);
      cursor: pointer;
      font-family: inherit;
      padding: 0.5rem 1.75rem;
      font-size: 1rem;
      border-radius: 80px;
      margin-top: 1rem;
      font-weight: 500;
      color: white;

      &:hover{
        background-color: var(--color-primary-focus);
      }
    }
  }
}